html {
    background-color: #4f4f4f;
}

#main {
    flex-direction: column;
    border: 3px solid white;
    background-color: white;
    width: 600px;
    height: 400px;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -210px 0 0 -310px;
}

h1, p, input, button {
    font-family: 'Indie Flower', cursive;
}

.header {
    overflow: auto;
    height: 91px;
}

.header h1 {
    width: 200px;
    float: left;
}


#logo {
    float: right;
    width: 80px;
    height: 91px;
}

#body{
    overflow: auto;
}

#body p {
    float: left;
    width: 280px;
    font-size: 22px;
    text-align: justify;
    margin-top: 0px;
}

#forma {
    float: left;
    padding-left: 30px;
    padding-top: 10px;
}


input::placeholder {
    font-size: 21px;
}

input[type="text"]{
    font-size: 21px;
    border: none;
    border-bottom: solid black 3px;
}
#button {
     text-align: center;
}